.find-pwd{
    text-align: center;
    margin-bottom: 48px;
}
.find-pwd .step-img{
    margin-bottom: 10px;
}
.find-pwd .step-img span{
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    background: url(assets/img/findPwd-img02.png) center no-repeat transparent;
}
.find-pwd .step-img span:last-child{
    position: relative;
}
.find-pwd .step-img span:last-child img{
    position: absolute;
    left: 9px;
    top: 10px;
}
.find-pwd .step-img span:last-child i{
    margin: 0;
    position: absolute;
    left: 9px;
    top: 10px;
    display: inline-block;
    width: 16px;
    height: 13px;
    background: url(../../../assets/img/findPwd-img03.png) no-repeat center;
    background-size: 100%;
}
.find-pwd .step-img i{
    margin: 0 4px 4px 4px;
    display: inline-block;
    width: 142px;
    height: 2px;
    background-color: #eaeaea;
}
.find-pwd .step-img i.active{
    background-color: #4285f4;
}
.find-pwd .step-img span.active{
    background-image: url(assets/img/findPwd-img01.png);
}
.find-pwd .step-text span{
    color: #999999;
    font-size: 14px;
}
.find-pwd .step-text span.active{
    color: #4285f4;
}
.find-pwd .step-text span.center{
    margin: 0 136px;
}