.modifyPwd{
    margin-left: 290px;
    border-right: 0!important;
}
.sub-content.modifyPwd-sub-content{
    padding-top: 50px;
}
.content.modifyPwd-content{
    margin-top: 0;
}
.register .left-part.modifyPwd .input-item .form-footer{
    width: 298px;
    margin-left: 194px;
}