<header  [transparent]="false"></header>
<div class="container">
    <div class="sub-content">
	 <div class="content">
         <div class="result risk-result">
        <div class="result-icon result-icon-{{riskResult.level}}"> </div>      
        <div class="result-title">评估结果：{{riskResult.levelName}}</div>
        <div class="result-time">评估时间：{{riskResult.time}}</div>
        <div class="result-product"  *ngIf="riskResult.existFund">
            <button (click)="goToProduct()">立即查看产品</button>
            <button (click)="goToRisk()">重新评估</button>
        </div>
        <div class="result-noProduct" *ngIf="!riskResult.existFund">
            根据您的评估结果，暂无适合您的产品
            <button (click)="goToRisk()">重新评估</button>
        </div>
    </div>
    </div>
    <footer [transparent]="false" [footStyle]="{'position':'static'}"></footer>
    </div>
 </div>   