<div class="footer" [ngClass]="{'bg-trans' : transparent}"  [ngStyle]="footStyle">
    <div class="ft-content">
        <div class="products">
            <div class="product">
                <div class="tips">
                    <p>
                    	<span><a href="#/disclaimer">免责声明</a></span>
                    	<span><a href="#/companyIntro">关于我们</a></span>
                    	<span><a href="#/contactUs">联系我们</a></span>
                    </p>
                    <span>上海苍石资产管理有限公司 &nbsp;© 2016 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备16028222号</a></span>
                </div>
            </div>
            <div class="connect-cyan">
            	<ul>
            		<li>
            			<div class="icon-part"><i class="icon icon-email"></i></div>
	            		<div class="info-part">
	            			<p>联系邮箱</p>
	            			<a class="mail-link" href="mailto:service@fofplus.com" target="_blank"><p>service@fofplus.com</p></a>
							<!-- <a href="http://service@fofplus.com"></a> -->
	            		</div>
            		</li>
            		<li>
            			<div class="icon-part"><i class="icon icon-mobile"></i></div>
	            		<div class="info-part">
	            			<p>全国客服热线</p>
	            			<p>400-928-2268</p>
	            		</div>
            		</li>
            		<li>
            			<div class="icon-part hover-erweima">
                            <div class="erweima">
                                <div class="inner"><i></i>
							</div>
                            </div>
                            <i class="icon icon-erweima"></i>
                        </div>
	            		<div class="info-part">
	            			<p>扫一扫</p>
	            			<p>关注我们</p>
	            		</div>
            		</li>
            	</ul>
            </div>
        </div>
    </div>
</div>